{% extends 'webapp/base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/spinner.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login-styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">

<!-- Ibrahim if statment, if user choice color or not -->
<!-- <style>
  :root {
    /* Ibrahim: here you put User Custom Color */  
    --black-color: #583e7e;
    --black-color-50: #583e7e50; /* COLOR 50% => #583e7e50  50 at the end!!*/
    
  }
  .spinner > div{ 
    background-color: var(--black-color-50); 
    border-color: var(--black-color);
  }
  .badge-color{
    background-color: var(--black-color);
  }
  .badge-number{
    border: var(--black-color) 2px solid;
  }
  .profile-img{
    border: 2px var(--black-color) solid;
  }
  .user-section-container{
    background-color: var(--black-color-50);
  }
</style> -->
<!--endif here -->
{% if Profile.color %}
<style>
  :root {
    /* User custom color */
    --user-custom-color: {{ Profile.color }};
    --user-custom-color-50: {{ Profile.color }}50; /* Append 50 for 50% opacity */
  }
</style>
{% else %}
<style>
  :root {
    /* Default color if user hasn't chosen one */
    --user-custom-color: #583e7e; /* Example default color */
    --user-custom-color-50: #583e7e50; /* 50% opacity */
  }
</style>
{% endif %}

<style>
  .spinner > div { 
    background-color: var(--user-custom-color-50); 
    border-color: var(--user-custom-color);
  }
  .badge-color {
    background-color: var(--user-custom-color);
  }
  .badge-number {
    border: 2px solid var(--user-custom-color);
  }
  .profile-img {
    border: 2px solid var(--user-custom-color);
  }
  .user-section-container {
    background-color: var(--user-custom-color-50);
  }
</style>

{% endblock %}
{% block content %}
<div id="page-container" class="main-map-container" style="margin-top: 120px;">

    
  <section id="user-section mb-5" class="">

    <div class="container py-5 user-section-container"
    >
    
      <div class="row">

          <div class="col-lg-4 mb-3 d-flex justify-content-center">
              <!-- Profile Image -->
              {% if Profile.userimage %}
              <img class="profile-img" src="{{Profile.userimage.url}}"class="rounded-circle mx-auto d-block" alt="profile image">
              {% else %}
              <img class="profile-img" src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="">
              {% endif %}
          </div>
          <div class="col-lg-8">
              <!-- Profile Details -->
              <h6><span class="badge badge-color">المعلن</span></h6>
              <div class="row">
                <div class="col">
                  <h3 class="mb-2">{{ Profile.user.first_name }} {{ Profile.user.last_name }}</h3>
                </div>
                <div class="col-2">
                  <div class="" style="width: 25px; height: 25px;">
                    <div class="spinner">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                      </div>
                  </div>
                </div>
              </div>
              
              <p class="text-muted mb-4">{{ Profile.user.username }}</p>
              <p class="mb-5 sale-and-rent">
                <span><span id="properties-for-sale" class="badge badge-number">{{rent_count}}</span> عقارات معروضة للإيجار</span> 
                <br>
                <span><span id="properties-for-rent" class="badge badge-number">{{sell_count}}</span> عقارات معروضة للبيع</span></p>
                
              <div class="row">
                <div class="col-10">
                  <a href="https://wa.me/+966{{ ph }}" class="btn btn-outline-success w-25 mt-2" target="_blank"><i class="fab fa-whatsapp"></i> واتساب</a>
                  <a href="mailto: {{ Profile.user.email }}" class="btn btn-outline-primary w-25 mt-2" target="_blank"><i class="fa-regular fa-envelope"></i> إيميل</a>

                </div>
                <div class="col-2">
                  <div id="copySuccessMessage">
                    <button id="closeMessage" onclick="closeMessage()">×</button>
                    تم نسخ الرابط
                </div>
                                       
                  <a class="btn share-icon" href="" onclick="copyContent()"
                  data-toggle="tooltip" data-placement="top" title="نسخ رابط صفحة المعلن"
                  ><i class="fas fa-link"></i></a>
              </div>
              
              </div>
                
                 
          </div>
      </div>
  </div>

  </section>

  <section class="property-cards mt-5">

    
    <h1 class="section-title display-4 text-center">عقاراتي</h1>

    <div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 g-4 m-4">
      
      {% for property in properties %}
      <div class="col">
        <div class="card">
          {% if property.images.all %}
            <img src="{{ property.images.first.image.url }}" class="card-img-top" alt="Image of the property">
          {% else %}
            <div class="no-image">لا يوجد صور</div>
          {% endif %}
          <div class="card-body">
            {% if property.neighborhood %}
            <h3 class="card-title pb-2" style="font-weight: 500;">{{ property.get_type_display }} مدينة  {{ property.city }} {{ property.neighborhood }}</h5>
              {% else %}
            <h3 class="card-title pb-2" style="font-weight: 500;">{{ property.get_type_display }} مدينة  {{ property.city }} </h5>
              {% endif %}
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success priceInput" style="font-weight: 500;">{{ property.price }} &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                
                
                <span>{% widthratio property.length 1 property.width %} م<sup>2</sup></span> 

                {% if property.number_of_rooms and property.number_of_rooms != 0 %}
                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> {{ property.number_of_rooms }}</span>
                {% endif %}
                {% if property.number_of_bathrooms and property.number_of_bathrooms != 0 %}
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> {{ property.number_of_bathrooms }}</span>
                 {% endif %}
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="{% url 'property_information' pid=property.pid %}"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
          <p class="latInput" style="display: none;">{{ property.lat }}</p>
      <p class="lngInput" style="display: none;">{{ property.lng }}</p>
      <p class="idInput" style="display: none;">{{ property.pid }}</p>
      </div>
      
          
          {% endfor %}

      
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>


    </div>   

  </section>




</div>
{% endblock %}


{% block script %}
<script>let timeoutReference; // Declare this outside your function to make it accessible globally
  
  const copyContent = async () => {
    clearTimeout(timeoutReference); // Clear any existing timeout
    try {
      await navigator.clipboard.writeText(window.location.href);
      document.getElementById('copySuccessMessage').style.display = 'flex'; // Use 'flex' to show the message
      // Hide the message after 5 seconds
      timeoutReference = setTimeout(() => {
        document.getElementById('copySuccessMessage').style.display = 'none';
      }, 5000);
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }
  
  // Function to close the message
  function closeMessage() {
    clearTimeout(timeoutReference); // Clear the timeout
    document.getElementById('copySuccessMessage').style.display = 'none';
  }
  
  // Event listener for the close button
  document.getElementById('closeMessage').onclick = closeMessage; // Assign the onclick handler
  
  </script>

<!-- <script src="{% static 'js/profile.js' %}"></script> -->





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}