{% extends 'webapp/base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>


<link rel="stylesheet" type="text/css" href="{% static 'css/report_popup.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/property-360-imgs.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/property-slider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/property-information.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login-styles.css' %}">


{% endblock %}

{% block content %}

<div id="page-container" class="main-container" style="margin-bottom: 5em;">
  <section class="register-section">
    <div class="center-container">
      <div class="" style="width: 85%;">
        <h1 class="fw-bold mb-4">معلومات العقار</h1>

        
       

        <div class="property-header row center-element">

          <div class="property-images">
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9OusbTAzhrIEpjootHCVVS_lU9AVWnD0PrRqQ5gDXHQ&s" alt=""> -->

            <div class="wrap">
              <div id="arrow-left" class="arrow"></div>
              <div id="slider">
                {% for image in images %}
                <div class="slide">
                  <div class="slide-content">
                    <img src="{{ image.image.url }}" alt="">
                  </div>
                </div>
                    
               
                {% endfor %}
                <!-- <div class="slide">
                  <div class="slide-content">
                    <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9OusbTAzhrIEpjootHCVVS_lU9AVWnD0PrRqQ5gDXHQ&s"
                      alt="">
                  </div>
                </div>
                <div class="slide">
                  <div class="slide-content">
                    <img
                      src="https://assets.architecturaldigest.in/photos/638724a42533d30b76d3a455/16:9/w_1615,h_908,c_limit/Mumbai-%20This%20Andheri%20home%20packs%20colour%20and%20smart%20design%20in%20under%20700%20sq%20ft.jpg"
                      alt="">
                  </div>
                </div>
                <div class="slide">
                  <div class="slide-content">
                    <img
                      src="https://assets.architecturaldigest.in/photos/64904022505cb5179481b321/16:9/w_1920,c_limit/Untitled%20design%20(24).png"
                      alt="">
                  </div>
                </div> -->
              </div>
              <div id="arrow-right" class="arrow"></div>
            </div>


          </div>

        </div>



        <div class="row">
          <div class="property-owner-section col">
            <h3 class="page-sub-title">المعلن</h3>
            <div class="property-owner">
              {% if p.userimage %}
              <img class="logo" src="{{ p.userimage.url }}" alt="">
              {% else %}
              <img class="logo" src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" alt="">
              {% endif %}
              <div class="userinfo">
                <h3 class="owner-name">{{ p.user.username }}</h3>
                <div class="socials">
                  <a href="https://wa.me/{{ p.phone_number }}"><i class="fa-brands fa-square-whatsapp"></i></a>
                  <a href="mailto: {{ p.user.email }}"><i class="fa-solid fa-envelope"></i></a>
                </div>
              </div>
  
            </div>
  
          </div>
          <div class="col">
            <h3 class="page-sub-title">السعر</h3>
            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
              <h5 class="" style="padding-bottom: 50px; font-weight: 500;"><span id="property-price">{{ property.price }}</span> <span style="color: green;">&#xFDFC;	</span></h5>
            </div>
          </div>
        </div>
        <div class="property icons d-flex" style="margin-bottom: 20px;">
          
        <a type="button" class="btn btn-outline-danger d-flex align-items-center justify-content-center" 
          style="margin-left: 10px;" href="{% url 'add_to_favorite' pid=property.pid %}">
            <i class="fa fa-heart" ></i>
        </a>
        <a  type="button" class="btn btn-outline-warning d-flex align-items-center justify-content-center" onclick="show()">
           <i id="report-icon" class="fa fa-flag"></i>
        </a>
      </div>

      <div id="popup">
        <div class="center-container">
          <div class="form-container">
            <form method="post" id="form">
              {% csrf_token %}
              <br>
              <button type="button" class="btn btn-danger d-flex align-items-center justify-content-center" id="close" onclick="hide()"
              
              ><i class="fa-solid fa-xmark"></i></button>
              <br>
              <label>وصف البلاغ:</label>
              <br>
              <input id="name" class="form-control text-area" name="name" type="text"/>
              <div class="center-container">
                <button type="btn btn-danger" id="submit" onclick="add()" class="form-btn-dar"
              style="margin-top: 0; font-weight: 100px; font-size: 14px;"
              >إبلاغ</button>
              </div>
             </form>
          </div>
        </div>
      </div>


        <div class="property-information mt-5">
          <h3 class="page-sub-title">وصف العقار</h3>
          <p class="p-description">
            {{ property.description }}
            <!-- (شقه بحوش خاص ومدخل سياره خاص )VIP
            مدخلين خاصه امامي وجانبي
            مساحه 280 متر
            خزان ارضي خاص - خزان علوي خاص -
            عداد كهرباء خاص
            عداد ماء
            حوش خاص مساحة ٩٧ متر
            مدخل سياره وبوابه الكترونيه
            ٦ غرف
            ٣ دورات مياه
            ١ صاله
            ١ مطبخ موؤسس جميع الخدمات
            جميع انواع القزاز دبل والواجهات استركشر
            مراعاة الافياش في جميع الغرف واحتياجاتها
            الواجهات حجر الرياض وبروفايل مكسيكي- تشطيب سوبر ديلوكس -السباكة حراري - جميع التركيبات الصحيه والكهربائيه
            ضمان استبدال شركة اعمار - بوابه الكترونيه شركة انفال ضمان ٥ سنوات.. -->

          </p>


          <table class="table table-sm table-condensed table-bordered">
            <thead></thead>
            <tbody>
              <tr>
                <th scope="row" class="table-headers">المنطقة</th>
                <td>{{ property.region }}</td>
                <th scope="row" class="table-headers">الطول (م)</th>
                <td>{{ property.length }}</td>
              </tr>
              <tr>
                <th scope="row" class="table-headers">المدينة</th>
                <td>{{ property.city }}</td>
                <th scope="row" class="table-headers">العرض (م)</th>
                <td>{{ property.width }}</td>
              </tr>
              <tr>
                <th scope="row" class="table-headers">الحي</th>
                <td>{{ property.neighborhood }}</td>
                <th scope="row" class="table-headers">المساحة (م<sup>2</sup>)</th>
                <td>{{ area }}</td>
              </tr>
              <tr>
                <th scope="row" class="table-headers">عدد الغرف</th>
                <td>{{ property.number_of_rooms }}</td>
                <th scope="row" class="table-headers">عدد دورات المياة</th>
                <td>{{ property.number_of_bathrooms }}</td>
              </tr>
              <tr>
                <th scope="row" class="table-headers">عدد الواجهات</th>
                <td>{{ property.number_of_sides }}</td>
                <th scope="row" class="table-headers">عدد المواقف</th>
                <td>{{ property.number_of_parkings }}</td>
              </tr>
              <tr>
                <th scope="row" class="table-headers">عمر العقار (سنوات)</th>
                <td>{{ property.year_built }}</td>
                <th scope="row" class="table-headers">مؤثثة</th>
                <td>{{ property.furnished }}</td>
              </tr>
            </tbody>
          </table>


        </div>

        <div class="property-location mt-5">
          <h3 class="page-sub-title pb-2">الموقع</h3>
          <div id="map"></div>
          <p hidden id="latInput">{{ property.lat }}</p>
          <p hidden id="lngInput">{{ property.lng }}</p>

        </div>

        <div class="property-image360 image-container mt-5">
          <h3 class="page-sub-title pb-2">الصور البانورامية</h3>
          {% for image360 in images360 %}
          <div class="image360-container"
            data-panorama-image="{{ image360.image360.url }}">
          </div>
          {% endfor %}


          <!-- <div class="image360-container"
            data-panorama-image="https://www.shutterstock.com/image-illustration/white-home-interior-modern-apartment-260nw-72279010.jpg">
          </div>
          <div class="image360-container"
            data-panorama-image="https://st4.depositphotos.com/20782690/23870/i/450/depositphotos_238705674-stock-photo-panorama-360-view-modern-white.jpg">
          </div>
          <div class="image360-container"
            data-panorama-image="https://www.shutterstock.com/image-illustration/spherical-360-panorama-projection-scandinavian-260nw-1106252930.jpg">
          </div>
        </div>
 -->

      </div>


    </div>
</div>

{% endblock %}


{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let p_price = document.querySelector('#property-price');
    let number = p_price.innerHTML
    p_price.innerHTML =  number.toLocaleString('us-US');
});

function show(){
  document.getElementById("popup").style.display = "block";
}
function hide() {
  document.getElementById("popup").style.display = "none";
  
  document.getElementById("name").value = "";
  document.getElementById("age").value = "";
  document.getElementById("country").value = "";
}

function add() {
  var name = document.getElementById("name").value;
  var age = document.getElementById("age").value;
  var country = document.getElementById("country").value;
  
  if (name == "" || age == "" || country == "") {
    alert("Please fill all fields.")
  } else {
    document.getElementById("popup").style.display = "none";
    var newdiv = document.createElement("div");
    newdiv.className += "cont";
    newdiv.innerHTML = "Name: "+ name + "<br>Age: " + age + "<br>Country: " + country;
    document.getElementById("results").appendChild(newdiv);
    
    document.getElementById("name").value = "";
    document.getElementById("age").value = "";
    document.getElementById("country").value = "";
  }
}
</script>
<script src="{% static 'js/property-info-map.js' %}"></script>
<script src="{% static 'js/property-slider.js' %}"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"
  integrity="sha512-uWKImujbh9CwNa8Eey5s8vlHDB4o1HhrVszkympkm5ciYTnUEQv3t4QHU02CUqPtdKTg62FsHo12x63q6u0wmg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/panolens.min.js' %}"></script>
<script src="{% static 'js/property360-slider.js' %}"></script>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

{% endblock %}