{% extends 'webapp/base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block css %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<!-- ========== Start Gelocation Leaflet Plugin ========== -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>
<!-- ========== End Gelocation Leaflet Plugin ========== -->





<link rel="stylesheet" href="{% static 'css/listings.css' %}">
<link rel="stylesheet" href="{% static 'css/login-styles.css' %}">

<style>
  .listing-div{
    background-image: url({% static 'images/dar-listing.png' %});
  }
</style>

{% endblock %}

{% block content %}
<div id="page-container" class="main-map-container">
  <section class="map-section">
    <div id="map">
      <!-- Your map will be here -->
    </div>
  

  </section>

  <section class="search-section mb-5">
    <div class="center-container">
      <div class="form-container" style="width: 80em; ">

        <form action="" method="post">
          {% csrf_token %}
          <h1 class="section-title text-center">البحث</h1>

        

          <div class="row mb-2">
            <div class="col">
              <div class="form-group">
                <label for="" class="form-label">المنطقة</label>
                <div id="regdiv"> 
                <select class="form-control" name="region" id="citySelector" >
                  <option value="riyadh" selected>الرياض</option>
                  <option value="jeddah">جدة</option>
                  <option value="sharqia">الشرقية</option>
                  <option value="bahah">الباحة</option>
                  <option value="jouf">الجوف</option>
                  <option value="northernborders">الحدود الشمالية</option>
                  <option value="qassim">القصيم</option>
                  <option value="medina">المدينة المنورة</option>
                  <option value="tabuk">تبوك</option>
                  <option value="jazan">جازان</option>
                  <option value="hail">حائل</option>
                  <option value="asir">عسير</option>
                  <option value="makkah">مكة المكرمة</option>
                  <option value="najran">نجران</option>
                </select>
              </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="" class="form-label">المدينة</label>
                <div id="citydiv">
                <select class="form-control" name="city" id="">
                  <option>الرياض</option>
                  <option>جدة</option>
                </select>
              </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="" class="form-label">الحي</label>
                <div id="distdiv">
                <select class="form-control" name="neighborhood" id="">
                  <option>الرياض</option>
                  <option>جدة</option>
                </select>
              </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group" >
                <label for="" class="form-label">النوع</label>
                <select class="form-control" name="type" id="">
                  <option value="">الرجاء اختيار نوع العقار</option>
                  <option value="House">بيت</option>
                  <option value="Apartment">شقة</option>
                  <option value="Farm">مزرعة</option>
                  <option value="Floor">دور</option>
                  <option value="Istrahah">استراحة</option>
                  <option value="Land">ارض</option>
                </select>
              </div>
            </div> 
          </div>
          <div class="row">
            <div class="d-flex justify-content-between mb-2">
              
              <a
                class="btn btn-primary form-btn-dar mt-0"
                data-bs-toggle="collapse"
                href="#contentId"
                aria-expanded="false"
                aria-controls="contentId"
                style="background-color: #14213D; font-weight: 500;"
              >
                المزيد من خيارات البحث
              </a>
              <!-- <a 
              name=""
              id="" 
              type="submit"
              class="btn form-btn-dar mt-0" 
              href="#" 
              role="button" 
              style="font-weight: 700;"
              ''>إبحث</a> -->
              <button class="btn form-btn-dar mt-0"  style="font-weight: 700;">إبحث</button>
              
            </div>
            
            <div class="collapse mt-2" id="contentId">
              <div class="row">
                <div class="col-2 mb-2">
                  
                  <div class="form-group">
                    <label for="" class="form-label">نوع العرض</label>
                    <select class="form-control" name="sell_or_rent" id="">
                      <option value="">الرجاء اختيار نوع العرض</option>
                      <option value="sell">بيع</option>
                      <option value="rent">اجار</option>
                    </select>
                  </div>

                </div>
              </div>
              <div class="row mb-2">
                    
                <div class="col">
                  <div class="form-group row">
                    <label for="floatingInput" class="form-label">السعر</label>
                    <div class="col d-flex justify-content-center align-items-center">
                      <label for="price-from" class="form-label">من&nbsp;&nbsp;</label>
                      <input type="text" class="form-control" id="price-from" name="min_price" placeholder="السعر الأدنى" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" >
                    </div>
                    
                    <div class="col d-flex justify-content-center align-items-center">
                      <label for="price-to">إلى&nbsp;&nbsp;</label>
                      <input type="text" class="form-control" name="max_price" id="price-to" placeholder="السعر الأعلى" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" >
                    </div>

                  </div>
                </div>

                <div class="col-2">
                  <div class="form-group">
                    <div class="mb-3">
                      <label for="" class="form-label">الغرف</label>
                      <select
                        class="form-select"
                        name="min_rooms"
                        id=""
                      >
                      <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7+</option>
                      </select>
                    </div>
                  </div>  
                  
                </div> 
                <div class="col-2">
                  <div class="form-group">
                    <div class="mb-3">
                      <label for="" class="form-label">دورات المياة</label>
                      <select
                        class="form-select"
                        name="min_bathrooms"
                        id=""
                      >
                      <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7+</option>
                      </select>
                    </div>
                  </div>        
            
                </div> 

                
                
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group row">
                    <label for="floatingInput" class="form-label">المساحة (م<sup>2</sup>)</label>
                    <div class="col d-flex justify-content-center align-items-center">
                      <label for="size-from" class="form-label">من&nbsp;&nbsp;</label>
                      <input type="text" class="form-control" name="min_size" id="size-from" placeholder="أقل مساحة" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" >
                    </div>
                    
                    <div class="col d-flex justify-content-center align-items-center">
                      <label for="size-to">إلى&nbsp;&nbsp;</label>
                      <input type="text" class="form-control" name="max_size" id="size-to" placeholder="أعلى مساحة" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" >
                    </div>

                  </div>
                </div>
                <div class="col-2">
                  <div class="mb-3">
                    <label for="" class="form-label">الطول (م)</label>
                    <input
                      type="number"
                      class="form-control"
                      name="length"
                      id=""
                      min="1"
                      max="9999"
                      onkeypress="return isNumeric(event)"
                      oninput="maxLengthCheck(this)"
                    />
                  </div>
                  
                </div>
                <div class="col-2">
                  <div class="mb-3">
                    <label for="" class="form-label">العرض (م)</label>
                    <input
                      type="number"
                      class="form-control"
                      name="width"
                      id=""
                      min="1"
                      max="9999"
                      onkeypress="return isNumeric(event)"
                      oninput="maxLengthCheck(this)"

                    />
                  </div>
                  
                </div>

              </div>
            </div>
            
          </div>
        </form>
        
      </div>
    </div>
    
  </section>

  <section class="sorting-section mb-0">
    <div class="dropdown">
      <button class="btn form-btn-dar dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
      style="font-weight: 500; font-size: 14px;"
      >
        الترتيب بحسب
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">أعلى سعر</a></li>
        <li><a class="dropdown-item" href="#">أقل سعر</a></li>
        <li><a class="dropdown-item" href="#">أعلى مساحة</a></li>
        <li><a class="dropdown-item" href="#">أقل مساحة</a></li>
      </ul>
    </div>
  </section>

  <section class="property-cards mt-0">

    <div  id="propertiesdiv" class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 g-4 m-4">

      <!-- <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div> -->
      
      {% for property in properties %}
      <div class="col">
        <div class="card">
          {% if property.images.all %}
            <img src="{{ property.images.first.image.url }}" class="card-img-top" alt="Image of the property">
          {% else %}
            <div class="no-image">لا يوجد صور</div>
          {% endif %}
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success priceInput" style="font-weight: 500;">{{ property.price }} &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                
                
                <span>{% widthratio property.length 1 property.width %} م<sup>2</sup></span> 

                {% if property.number_of_bedrooms and property.number_of_bedrooms != 0 %}
                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> {{ property.number_of_bedrooms }}</span>
                {% endif %}
                {% if property.number_of_bathrooms and property.number_of_bathrooms != 0 %}
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> {{ property.number_of_bathrooms }}</span>
                 {% endif %}
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="{% url 'property_information' pid=property.pid %}"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
          <p class="latInput" style="display: none;">{{ property.lat }}</p>
      <p class="lngInput" style="display: none;">{{ property.lng }}</p>
      <p class="idInput" style="display: none;">{{ property.pid }}</p>
      </div>
      
          
          {% endfor %}

      <!-- <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://media.istockphoto.com/id/1319269543/photo/new-homes-on-a-quiet-street-in-raleigh-nc.jpg?s=612x612&w=0&k=20&c=qaRMP-xgYqFAXR9aTpiG0dtkyqPhJiTAovvxyG1AxvM=" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title pb-2" style="font-weight: 500;">فيلا مدينة الرياض حي الزهور</h5>
            <div class="row">
              <div class="col">
                <p class="card-text h4 text-success" style="font-weight: 500;">5,000,000 &#65020;</p>
                <p class="card-text h6" style="font-weight: 400;"></p>
                <span>250 م<sup>2</sup></span> 

                &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-bed"></i> 5</span>
                 &nbsp;|&nbsp;&nbsp;<span><i class="fa-solid fa-shower"></i> 4</span>
  
                </p>
              </div>
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <a
                  name=""
                  id=""
                  class="btn form-btn-dar"
                  href="#"
                  role="button"
                  style="font-weight: 500;"
                  >المزيد</a>
                </div>
              </div>
            </div>
            
          </div>
          </div>
      </div>
       -->



    </div>


   
    

  </section>


</div>
{% endblock %}


{% block script %}
<script src="{% static 'js/dropdownsearch.js' %}"></script>
<script src="{% static 'js/listing-map.js'%}"></script>
<script src="{% static 'js/number-format.js' %}"></script>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded',function(){
  var citySelector = document.getElementById('citySelector');
  citySelector.addEventListener('change',function(){
    changeCity();
    populatecity();
  })
})
  </script>
  
  {% endblock %}