{% extends 'webapp/base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/logo-image-setting.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/login-styles.css' %}">

{% endblock %}

{% block content %}
<div id="page-container" class="main-container" style="padding-bottom: 5em;">
  <section class="register-section">
  <div class="center-container">
    <div class="form-container w-50" >

      <form   id="form" class="form-dar" action="" method="post" autocomplete="off" enctype="multipart/form-data">
           {% csrf_token %}
        <div class="container">
          <h1 class="text-center">التعديل على الملف الشخصي</h1>
          <div class="avatar-upload">
              <div class="avatar-edit">
                  <input type='file' name ="image" id="imageUpload" accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                  <div id="imagePreview" style="background-image: url({{ image }});">
                  
                  </div>
                  <button type="button" class="btn mt-2" onclick="removeimage()" style="margin-right: 4.25em; color: red;"><i class="fa-solid fa-trash"></i></button>
              </div>
          </div>
      </div>
      <label for="ColorInput">إختر لون صفحتك الشخصية</label>
      <!-- <input type="color" class="form-control form-control-color w-100" id="ColorInput" value="#563d7c" title="Choose your color"> -->
      {% render_field user_form.color_of_account class+="form-control form-control-color w-100" id="ColorInput" value="#563d7c" title="Choose your color" %}

      <div class="row">
        <div class="col">
          <label>إسمك الأول</label>
          <!-- <input type="text" class="input-field-dar"> -->
          {% render_field user_form.first_name class+="input-field-dar" id="first_name" %}
        </div>
        <div class="col">
          <label>إسم العائلة</label>
          <!-- <input type="text" class="input-field-dar"> -->
          {% render_field user_form.last_name class+="input-field-dar" id="last_name" %}
        </div>
      </div>



        <label>إسم المستخدم</label>
        <!-- <input type="text" class="input-field-dar"> -->
        {% render_field user_form.username class+="input-field-dar" %}
        <label>رقم الجوال</label>
        <!-- <input type="number" class="input-field-dar"> -->
        {% render_field user_form.phone_number class+="input-field-dar" id="ph" %}
        
        <label>الإيميل</label>
        <!-- <input type="email" class="input-field-dar"> -->
        {% render_field user_form.email class+="input-field-dar" id="email" %}
        <label>كلمة المرور السابقة</label>
        <!-- <input type="password" class="input-field-dar"> -->
        <input type="password" name="old_password" id="old_password" class="input-field-dar">
        <!-- {% render_field password_form.old_password class+="input-field-dar" %} -->
        <label>كلمة المرور</label>

        <!-- <input type="password" class="input-field-dar"> -->
        <input type="password" name="new_password1" id="new_password1" class="input-field-dar">
        <!-- {% render_field password_form.new_password1 class+="input-field-dar" %} -->
        <label>كلمة المرور مرة اخرى</label>
        <!-- <input type="password" class="input-field-dar"> -->
        <input type="password" name="new_password2" id="new_password2" class="input-field-dar">
        <!-- {% render_field password_form.new_password2 class+="input-field-dar" %} -->
        
      
        <button class="form-btn-dar" name="change_details">التعديل</button>
        

      </form>
      {% for message in messages %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

        <p id="message-timer" class="alert alert-success float-center text-center message-text-black"> 

            <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{message}}

        </p>

    {% endif %}

{% endfor %}

      {% for message in messages %}

      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}


          <p id="message-timer" class="alert alert-danger float-center text-center message-text-black"> 

              <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{message}}

          </p>


      {% endif %}


  {% endfor %}

      

      
      

    </div>
    
  </div>
  

</div>
{% endblock %}

{% block script %}


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script><script  src="{% static 'js/logo-settings.js' %}"></script>
<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
crossorigin="anonymous"
></script>
<script>
  function removeimage(){
    const deletionField = document.createElement('input');
    deletionField.type = 'hidden';
    deletionField.name = 'deletion';
    document.getElementById('form').appendChild(deletionField);
    prev = document.getElementById('imagePreview');
    prev.style="background-image: url(https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg);"
    document.getElementById('imageUpload').value = ''; // Set the value to empty string


  }
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  
  const phoneNumberInput = document.getElementById('ph');
  
  form.addEventListener('submit', function(event) {
      // Validate Phone Number
      const phoneNumber = phoneNumberInput.value;
      const phoneRegex = /^05\d{8}$/; // Starts with '05' and followed by exactly 8 digits

      if (!phoneRegex.test(phoneNumber)) {
          // alert('رقم الجوال يجب أن يبدأ بـ05 ويتكون من 10 أرقام.');
          Swal.fire({
            icon: "error",
            title: "خطأ",
            text:'رقم الجوال يجب أن يبدأ بـ05 ويتكون من 10 أرقام.',
          });
          this.value = '';
        
          event.preventDefault(); // Stop form submission
          phoneNumberInput.focus(); // Focus on phone number input for correction
          return false;
      }

      
  });
});
document.addEventListener('DOMContentLoaded', function() {
  const form = document.querySelector('.form-dar');

  let first_name = document.getElementById('first_name');
  let last_name = document.getElementById('last_name');
  let email = document.getElementById('email');
   

  form.addEventListener('submit', function(event) {
    first_namev = first_name.value
    last_namev = last_name.value
    emailv = email.value
      
      if (first_namev == '' || last_namev =='' || emailv =='') {
          // alert('رقم الجوال يجب أن يبدأ بـ05 ويتكون من 10 أرقام.');
          Swal.fire({
            icon: "error",
            title: "خطأ",
            text:'الرجاء تعبئة جميع الخانات',
          });
          this.value = '';

          event.preventDefault(); // Stop form submission
         
          return false;
      }

  }
  );
});


</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}