
#map { 
  height: 50vh;
 }

 .leaflet-tooltip.my-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 30px;
  }


.main-map-container{
  margin-top: 9.3vh;
}

.search-section{
  margin-top: 2em;
}

.section-title{
  font-size: 24px;
  font-weight: 700;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}


.listing-div{
  width: 65px;
  height: 65px; display: flex;
  align-items: center; 
  justify-content: center;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  word-wrap: break-word;
}

.listing-div span {
  color: white;
  font-size: 12px; 
  padding-bottom: 2.75em;
  font-weight: 500
}


.card-img-top {
  height: 250px; /* Set a fixed height for all images */
  object-fit: cover; /* This will make sure that the images cover the area without stretching */
  width: 100%; /* Ensure the width is 100% to maintain aspect ratio */
}

.no-image {
  background-color: #f0f0f0; /* Example background color, change as desired */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px; /* Set this height to match the height of your property images */
  font-size: 24px; /* Example font size for "لا يوجد صورة" text, change as desired */
  color: #666; /* Example text color, change as desired */
}

.priceInput {
  white-space: nowrap; /* Prevent the text from wrapping */
  font-size: 1.4em; /* Adjust the font size as needed */
}
