
/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*=============== VARIABLES CSS ===============*/

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Rubik', sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body{
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;

}

a {
  text-decoration: none;
}

.dar-footer {
  background: var(--black-color);
  color: white;
  font-weight: 400;
  /* height: 4rem;  
  width: 100%; 
  position: absolute;
  bottom: 0pt; */
}
.dar-center-con{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;  
}

.main-container {
  margin-top: 20vh;
}


#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrap {
  flex: 1 0 auto; /* The content will grow to fill the space */
}
#footer {
  flex-shrink: 0; /* The footer will not shrink */
}